* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 6.4rem;
  background-color: #B19CD9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

header p {
  font-family: 'Pacifico', cursive;
}

header .logo {
  font-size: 3.7rem;
  color: white;
}

header .menu {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 4;
}

header .menu i {
  font-size: 3.4rem;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  top: 1.5rem;
}

header .menu .fa-times {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: white;
}

header nav {
  width: 60rem;
  margin: 2rem;
}

header nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  font-size: 1.6rem;
  list-style: none;
  color: white;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav ul li i {
  margin-right: .7rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav ul li a:hover {
  color: #e6e3e3;
  text-decoration: underline;
}

header .nav-toggle {
  right: 0%;
}

.home {
  height: 95vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-image: url("https://github.com/NishatTaaha/Background_Changing_Website/blob/main/images/img1.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.home .content {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20rem;
}

.home .content h1 {
  font-size: 4.5rem;
  color: #F3E7D3;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  font-family: 'Pacifico', cursive;
  letter-spacing: .4rem;
  text-transform: capitalize;
}

.home .content p {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-left: 13rem;
  margin-right: 13rem;
  color: white;
  text-transform: capitalize;
  -webkit-text-decoration: italic;
          text-decoration: italic;
}

.home .content .btns {
  margin-top: 4rem;
}

.home .content .btns a {
  height: 4.7rem;
  width: 12rem;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #F3E7D3;
  color: #F3E7D3;
  border-radius: 1rem;
  margin: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.home .content .btns a:hover {
  border: 3px solid white;
  color: white;
}

.home::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .8;
  z-index: -1;
  position: absolute;
}

.services {
  background-color: black;
}

.services .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5rem;
}

.services .container h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px darkgray;
  color: #F3E7D3;
  margin: 2rem;
}

.services .container .heading-para {
  font-size: 1.6rem;
  margin-left: 12rem;
  margin-right: 12rem;
  color: white;
}

.services .container .boxes {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10rem;
}

.services .container .boxes .box {
  height: 20rem;
  width: 30rem;
  background-color: #B19CD9;
  margin-top: 8rem;
  margin: 4rem;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 3rem !important;
  border-bottom-left-radius: 3rem !important;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.services .container .boxes .box .icon-para {
  height: 9rem;
  width: 9rem;
  background-color: #B19CD9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid black;
  margin-bottom: .8rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.services .container .boxes .box .icon-para i {
  font-size: 6rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: .4rem;
  margin-top: 1.4rem;
  color: black;
}

.services .container .boxes .box h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: black;
}

.services .container .boxes .box p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.gallary .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5rem;
  padding-bottom: 0;
  background-color: white;
}

.gallary .container h1 {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  color: black;
  margin: 2rem;
}

.gallary .container .heading-para {
  font-size: 1.6rem;
  margin-left: 12rem;
  margin-right: 12rem;
  color: white;
  margin-bottom: 5rem;
}

.gallary .container .gallary-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.gallary .container .gallary-div .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.gallary .container .gallary-div .column .img-container {
  position: relative;
}

.gallary .container .gallary-div .column .img-container img {
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.gallary .container .gallary-div .column .img-container .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #B19CD9;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.gallary .container .gallary-div .column .img-container .overlay a {
  height: 3.6rem;
  width: 10rem;
  font-size: 2rem;
  background-color: inherit;
  border: 2px solid black;
  border-radius: .8rem;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  text-decoration: none;
}

.gallary .container .gallary-div .column .img-container .overlay a:hover {
  border: 2px solid white;
  color: white;
}

.gallary .container .gallary-div .column .img-container:hover .overlay {
  opacity: .7;
}

.testimonial {
  height: auto;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.testimonial .container {
  background-color: black;
  margin-top: -10rem;
}

.testimonial .container h1 {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px lightgrey;
  color: #F3E7D3;
  margin: 2rem;
  overflow: hidden;
}

.testimonial .container .head-para {
  font-size: 2rem;
  margin-left: 12rem;
  margin-right: 12rem;
  color: white;
  margin-bottom: 5rem;
}

.testimonial .container .boxes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.testimonial .container .boxes .swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.testimonial .container .boxes .box {
  height: 40rem;
  width: 32rem;
  background-color: #B19CD9;
  padding: 2rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.testimonial .container .boxes .box:hover {
  -webkit-box-shadow: .8rem .8rem .8rem gray;
          box-shadow: .8rem .8rem .8rem gray;
}

.testimonial .container .boxes .box p {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
}

.testimonial .container .boxes .box p i {
  font-size: 3rem;
}

.testimonial .container .boxes .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2.3rem;
}

.testimonial .container .boxes .box h4 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
}

.testimonial .container .boxes .box .icons a {
  text-decoration: none;
}

.testimonial .container .boxes .box .icons a i {
  font-size: 3.6rem;
  color: black;
  margin: .8rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.testimonial .container .boxes .box .icons a i:hover {
  color: #363232;
}

.contact .heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.contact .contact-div {
  background-color: white;
  padding: 4rem;
}

.contact .contact-div h1 {
  color: black;
  text-shadow: 2px 2px 2px black;
  font-size: 5rem;
}

.contact .contact-div p {
  color: white;
  font-size: 1.8rem;
}

.contact .contact-div .contact-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-div .contact-section .contact-info {
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact .contact-div .contact-section .contact-info i {
  margin-right: 20px;
  font-size: 25px;
  color: black;
}

.contact .contact-div .contact-section .contact-info div {
  color: #404040;
}

.contact .contact-div .contact-section .contact-form {
  max-width: 700px;
  margin-right: 50px;
  padding: 2rem;
  -webkit-box-shadow: 4px 4px 4px #070101;
          box-shadow: 4px 4px 4px #070101;
  border: 2px solid black;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.contact .contact-div .contact-section .contact-form h2 {
  /*color: #BC9E82;*/
  color: #404040;
  text-align: center;
  font-size: 35px;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  margin-bottom: 30px;
}

.contact .contact-div .contact-section .contact-form .text-box {
  background: #000;
  color: #fff;
  border: none;
  width: calc(50%, -10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact .contact-div .contact-section .contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact .contact-div .contact-section .contact-form textarea {
  background: black;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: .9;
}

.contact .contact-div .contact-section .contact-form .send-btn {
  float: right;
  background-color: #B19CD9;
  color: black;
  border: 2px solid black;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact .contact-div .contact-section .contact-form .send-btn:hover {
  letter-spacing: .8rem;
  background-color: lightgray;
}

.contact .contact-div .contact-section .contact-info, .contact .contact-div .contact-section .contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  padding-right: 3rem;
  bottom: 0;
  background-color: black;
}

.footer .sections {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}

.footer .sections .links {
  text-decoration: none;
  line-height: 2rem;
}

.footer .sections .links a {
  text-decoration: none;
}

.footer .sections .links a h3 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.footer .sections .links a p {
  color: #404040;
  font-size: 1.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .sections .links a p:hover {
  color: gray;
  text-decoration: underline;
}

.footer .intro {
  width: 17%;
  margin-bottom: 5rem;
}

.footer .intro h2 {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: dimgray;
}

.footer .intro p {
  font-size: 1.5rem;
  color: #404040;
}

.footer .intro a i {
  font-size: 3rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  color: #404040;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .intro a i:hover {
  color: white;
}

.share-icon {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: 2s;
  transition: 2s;
}

.share-icon i {
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: #fff;
  background: #B19CD9;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.share-icon i:hover {
  color: black;
}

.share-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 1rem;
  border-radius: 5rem;
  background: #B19CD9;
  text-align: center;
  list-style-type: none;
  -webkit-transition: .8s;
  transition: .8s;
  display: none;
}

.share-icon ul li a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  margin: 1rem 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.share-icon ul li a:hover {
  color: black;
}

.scroll-icon {
  position: fixed;
  bottom: 2rem;
  right: 8rem;
  cursor: pointer;
  z-index: 10;
}

.scroll-icon a {
  font-size: 3rem;
  color: #fff;
  background: #B19CD9;
  text-decoration: none;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

.scroll-icon a:hover {
  color: black;
}

.theme {
  position: fixed;
  top: 7rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.theme .color-panel {
  border-radius: 0% 20% 20% 0%;
  margin-right: -1rem;
  display: none;
}

.theme .color-panel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  list-style-type: none;
}

.theme .color-panel ul li {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0 .5rem;
  cursor: pointer;
}

.theme .theme-toggler {
  cursor: pointer;
}

.theme .theme-toggler img {
  height: 5rem;
  background: #B19CD9;
  padding: 1rem;
  border-radius: 50%;
  margin: 0 .5rem;
  cursor: pointer;
}

@media (max-width: 770px) {
  html {
    font-size: 53%;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .menu {
    display: block;
  }
  header nav {
    position: fixed;
    top: 0;
    right: -200%;
    height: 100%;
    background-color: black;
    -webkit-box-shadow: -20rem 0 0 10rem rgba(0, 0, 0, 0.3);
            box-shadow: -20rem 0 0 10rem rgba(0, 0, 0, 0.3);
    margin: 0;
    opacity: .9;
    padding-top: 7rem;
  }
  header nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 85%;
  }
  header nav ul li {
    font-size: 2rem;
    color: white;
  }
  header nav ul li a {
    color: white;
  }
  header nav ul li a:hover {
    color: lightgray;
  }
  header nav ul li:hover {
    color: lightgray;
  }
  .home {
    height: 76vh;
  }
  .home .content p {
    margin-right: 6rem;
    margin-left: 6rem;
  }
  .services .container .heading-para {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .services .container .boxes .box {
    height: auto;
    width: 30rem;
  }
  .gallary .container .gallary-div .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
  .gallary .container .gallary-div .column .img-container {
    margin-bottom: .5rem;
  }
  .contact .contact-div .contact-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-div .contact-section .contact-info {
    display: none;
  }
  .contact .contact-div .contact-section .contact-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    max-width: 900px;
  }
  .contact .contact-div .contact-section .contact-form .send-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-div .contact-section .contact-form .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contact-div .contact-section .contact-form .contact .text-box:first-child {
    margin-right: 0px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer .section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .footer .intro {
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 30%;
  }
  .home {
    height: 60vh;
  }
  .gallary .container .gallary-div .column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .services .container .boxes .box {
    width: auto;
    text-align: left;
    padding-bottom: 1rem;
  }
  .services .container .boxes .box .cont-div {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */